.vs/
*.user
*.vcxproj.user
Debug/
Release/
x64/
x86/
Lesson 1-2/
Lesson_2-3/
Lesson 4-5/
Lesson6-7/
lesson 8-9/
lesson 7/
lesson 7 praktuchna/
Lesson_6_practuchne/
another lesson/
Lesson 8/
Lesson 8 practychna/
Lesson 8-9/
Lesson 9/
Lesson 9 practuchna/
Lesson 10 practuchna/
Lesson 10/
Practuchna 18/
Praktuchna 19/
Urok 19/
Urok 21/
urok/
Test/
Arduino/
CleanUp_disk/
C++ 5 Urok/
C++OOP3_urok/
N91 Disk Cleaner/
N91_Disk_Cleaner_Legacy_Backup_*/
!*.h
!**/*.h
!*.hpp
!**/*.hpp