.vs/
*.user
*.vcxproj.user
Debug/
Release/
x64/
x86/
*.sln
*.slnx
*.vcxproj.filters
*.vcxproj
Lesson 1-2/
Lesson_2-3/
Lesson 4-5/
Lesson6-7/
lesson 8-9/
lesson 7/
lesson 7 praktuchna/
Lesson_6_practuchne/
another lesson/
Lesson 8/
Lesson 8 practychna/
Lesson 8-9/
Lesson 9/
Lesson 9 practuchna/
Lesson 10 practuchna/
Lesson 10/
Practuchna 18/
Praktuchna 19/
Urok 19/